.vs
.idea/
artifacts
bin
obj
*.user
TestFiles/
*.suo
Tools/PEVerify.*
packages/
project.lock.json
*.NoCommit.*
*.pubxml
del.me
_ReSharper.Caches/
BenchmarkDotNet.Artifacts/
filedata.bin
*.binlog
src/VBTest/*
src/Benchmark/DalSerializer.dll
~$*.pptx
.nupkgs/*
.ionide/