<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="C:\src\gh\protobuf-net\src\protobuf-net.Reflection\bin\Debug\" />
    <add key="local2" value="C:\src\gh\protobuf-net\src\protobuf-net\bin\Debug\" />
    <add key="local3" value="C:\src\gh\protobuf-net\src\protobuf-net.Core\bin\Debug\" />
  </packageSources>
</configuration>
