<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="myget" value="https://www.myget.org/F/protobuf-net/api/v3/index.json" />-->
  </packageSources>
  <packageSourceMapping>
    <!-- without a local mapping a globally-configured packageSourceMapping (keyed e.g. "nuget.org") -->
    <!-- will block restore here because the local key is "nuget" -->
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
